<% provide :button_text, t("match_results.edit.save") %>
<% provide :link, admin_match_result_path %>
<h1><%= t("match_results.edit.update") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: "form", locals: {url: admin_match_result_path(@match_result)} %>
  </div>
</div>
