<% provide :button_text, t("leagues.edit.save") %>
<% provide :link, admin_league_path %>
<h1><%= t("leagues.edit.update") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: "form", locals: {url: admin_league_path(@league)} %>
  </div>
</div>
