default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: ENV("USERNAME")
  password: ENV("PASSWORD")
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: football_new01_development
test:
  <<: *default
  database: football_new01_test
production:
  <<: *default
  database: football_new01_production
  username: football_new01
  password: <%= ENV["FOOTBALL_NEW01_DATABASE_PASSWORD"] %>
