<li>
  <span><%= match.team1.name %> <strong>-</strong> </span>
</li>
<li>
  <span><%= match.team2.name %></span>
</li>
<li class="detail">
  <span><%= link_to t("matches.match.detail"), match_path(match) %></span>
</li>
